<div class="container mt-3">
	<div class="row">
		<div class="col-12 logo-wrapper">
			<img src="/assets/images/simplidots-single.png"
				alt="">
		</div>
	</div>
	<div class="row mt-5">
		<div class="fw-bold fs-10 cl-grey">Menu</div>
		<div>
			<div class="d-flex align-items-center gap-3 mt-3 menu"
				(click)="goTo('/')"
				[ngClass]="{ 'active': isMenuActive('/') }">
				<img src="assets/images/icons/overview.svg"
					alt="">
				<div class="fw-bold fs-14 lh-1">{{ 'overview' | translate }}</div>
			</div>
			<div class="d-flex align-items-center gap-3 mt-2 menu"
				(click)="goTo('/movies')"
				[ngClass]="{ 'active': isMenuActive('/movies') }">
				<img src="assets/images/icons/video.svg"
					alt="">
				<div class="fw-bold fs-14 lh-1">{{ 'movie' | translate }}</div>
			</div>
			<div class="d-flex align-items-center gap-3 mt-2 menu"
				(click)="goTo('/favorite')"
				[ngClass]="{ 'active': isMenuActive('/favorite') }">
				<img src="assets/images/icons/love.svg"
					alt="">
				<div class="fw-bold fs-14 lh-1">{{ 'favorite' | translate }}</div>
			</div>
		</div>
	</div>
</div>
